<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div>Список городов</div>
<br>
<br>
<form method="post">
    <input type="text" name="nameCity" placeholder="Введите название города"/>
    <input type="number" name="numPopulation" placeholder="Введите число жителей"/>
    <input type="checkbox" name="availabilityMetro" placeholder="Наличие метро"/>
    <input type="text" name="country" placeholder="Введите страну"/>
    <button type="submit">Add city</button>
</form>

{{#cities}}
    <div>
        <b>{{id}}</b>
        <span>{{nameCity}}</span>
        <i>{{numPopulation}}</i>
        <i>{{availabilityMetro}}</i>
        <i>{{country}}</i>
    </div>
{{/cities}}
<div>Список достопримечательностей</div>
<br>
<br>
<form method="post">
<input type="text" name="nameSight" placeholder="Введите название достопримечательности"/>
<input type="date" name="date" placeholder="Дата возведения"/>
<input type="text" name="description" placeholder="Описание"/>
<select name="type" th:field="*{type}">
    <option th:each="type : ${T(com.example.sights.domain.TypeSight).values()}"
            th:value="${type.displayText}" th:text="${type.name()}"></option>
</select>
<input type="text" name="city" placeholder="Название города"/>
<button type="submit">Add sight</button>
{{#sights}}
    <div>
        <b>{{id}}</b>
        <span>{{nameSight}}</span>
        <i>{{date}}</i>
        <i>{{description}}</i>
        <i>{{type}}</i>
        <i>{{city}}</i>
    </div>
{{/sights}}
</form>
</body>
</html>